#body-container {
    background-image: url("../res/background_prototype.png");
    background-color: #cccccc;
    height: calc(100% - 98px);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 10%;
    margin: 0px 0px;
    position: relative;
    z-index: -2;
}

#diag {
  width: 100%;
  height: 100%;
  transform: skew(-31deg);
  background-color: rgba(25, 25, 25, 0.7);
  position: absolute;
  top: 0px;
  left: -50%;
  z-index: -1;
}

#welcome-container {
    position: absolute;
    left: calc(10% + 30px);
    top: 50px;
    width: 35%;
    height: calc(100% - 50px);
    z-index: 1;
}

#welcome-banner {
    font-size: 59px;
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 730px;
    line-height: 65px;
}

#welcome-text {
    font-size: 30px;
    position: absolute;
    left: 50px;
    top: 180px;
    min-width: 420px;
}

#welcome-img {
    width: 250px;
    height: 250px;
    position: absolute;
    left: calc(10% + 60px);
    top: 470px;
    background-image: url("../res/cv_portr_round_grey.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gradient {
    background-origin: padding-box;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 0px bottom -8px;
    background-image: url("../res/gradient.png");
}

.gradient-inv {
    background-origin: padding-box;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../res/gradient-inverse.png");
    background-position: right 0px bottom -8px;
}
