#projects-container {
    width: 80%;
    height: 100%;
    position: relative;
    z-index: -2;
    overflow: auto;
    background-color: #191919dd;

    /* Dunno what this is, but it centers the div */
    margin:0 auto !important;
    display: block !important;
}

.project-container {
    margin-top: 50px;
    padding: 30px 60px;
    min-height: 313px;
    position: relative;
}

.project-img {
    position: relative;
    float: left;
    height: 313px;
    width: 355px;
    margin-right: 61px;
}

.project-container:nth-of-type(odd) .project-img {
    float: right;
    margin-left: 61px;
}

.project-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 42px;
}
