<div class="project-container">
    <a href="$insert project_page_path$">
        <div class="project-img"><img src="$insert project_image_path$"></div>
    </a>
    <div class="project-desc">
        <a href="$insert project_page_path$">
            <div class="project-title"><b>$insert project_title$</b></div>
        </a>
        <div class="project-subtitle">
            <b>Producers and Scroungers - in Minecraft!</b>
        </div>
        <div class="dunno">
            $insert project_abstract$
            <br>
            <a href="$insert project_page_path$">Read more</a>
        </div>
    </div>
</div>
<br><br>
<hr style="width:61%; margin:auto; color:#555555;" />
