body {
    margin: 0;
    background-color: #191919;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white
}
