#body-container {
    background-image: url("../background.jpg");
    background-color: #cccccc;
    height: calc(100% - 98px);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 10%;
    margin: 0px 0px;
    position: relative;
    z-index: -2;
    min-width: 500px;
}

#content-container {
    width: 80%;
    height: 100%;
    position: relative;
    z-index: -2;
    overflow: auto;
    background-color: #191919dd;

    /* Dunno what this is, but it centers the div */
    margin:0 auto !important;
    display: block !important;
}

@media screen and (max-width: 1550px) {
    #content-container {
        width: 100%;
    }
    #body-container {
        padding: 0px 0px;
    }
}
