body {
    margin: 0;
    background-color: #191919;
    color: #ffffff;
    font-family: "Microsoft Yi Baiti", Helvetica, sans-serif;
    font-size: 24px;
    word-spacing: -6px;
}

a {
    color: #ffffff;
}

code {
    font-size: 18px;
    color: #888888;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    z-index: -3;
    overflow: hidden;
}
