.section-list {
    margin: 50px 8%;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.image-entry {
    display: inline-block;
    height: 180px;
    width: auto;
    position: relative;
    border: 1px solid #999999;
    vertical-align: top;
    margin: 3px 1px;
    overflow: hidden;
}

.image-entry img {
    transition: 0.5s;
    filter: grayscale(65%);
}

.image-entry img:hover {
    transform: scale(1.2);
    filter: grayscale(0%);
}

.more {
    text-align: center;
    width: 280px;
    transition: 0.3s;
    line-height: 160px;
}

.more:hover {
    background-color: #070707;
}

.image-entry img {
    position: relative;
    height: 100%;
}

.hiddenRadioButton {
    display: none;
}

input#showMoreArtwork ~ span#moreArtwork {
  display: none;
}

input#showMoreArtwork:checked ~ span#moreArtwork {
  display: inline;
}

input#showMoreArtwork:checked ~ label#showMoreArtworkLabel {
  display: none;
}

@media screen and (max-width: 1400px) {
    .image-entry img {
        filter: grayscale(0%);
    }
    .image-entry {
        height: 120px;
    }
    .section-list {
        margin: 50px 3%;
    }
    .more {
        line-height: 110px;
    }
}
