.project-container {
    margin: 50px 80px;
    position: relative;
    background-color: #191919;
    border: 3px solid #333333;
    display: flex;
}

.to-overview-container {
    margin: 50px 80px;
    position: relative;
    background-color: #191919;
    border: 3px solid #333333;
    display: block;
}

.project-container:nth-of-type(odd) {
    flex-flow: row-reverse;
}

.project-img-wrapper {
    position: relative;
    width: 39%;
    display: table;
    margin: auto;
}

.project-img-container {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 10px;
}

.project-img-container img {
    position: relative;
    height: auto;
    width: 100%;
}

.project-text-wrapper {
    position: relative;
    width: 61%;
    display: table;
}

.project-text-container {
    display: table-cell;
    vertical-align: middle;
    padding: 15px 15px;
}

.project-read-more {
    margin-top: 15px;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
    background-color: #333333;
    transition: 0.6s;
}

.project-to-overview {
    width: 100%;
    text-align: center;
    background-color: #333333;
    transition: 0.6s;
}

.project-read-more:hover {
    background-color: #222222;
}

.project-to-overview:hover {
    background-color: #222222;
}

.project-title {
    font-size: 42px;
}

.project-subtitle {
    line-height: 42px;
    color: #cccccc;
}

.project-desc {
    color: #aaaaaa;
}

.project-buttons {
    position: absolute;
    right: 15px;
    top: 8px;
    text-align: right;
}

.project-buttons a {
    color: #BBBBBB;
    margin: 5px 5px;
    font-size: 23px;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    width: 35px;
    height: 35px;
    background-color: #333333;
    border-radius: 6px;
}

.hiddenRadioButton {
    display: none;
}

input#showSecondaryProjects ~ span#secondaryProjects {
  display: none;
}

input#showSecondaryProjects:checked ~ span#secondaryProjects {
  display: inline;
}

input#showSecondaryProjects:checked ~ label#showSecondaryProjectsLabel {
  display: none;
}

.small-projects-container {
    margin: 0px 70px;
    text-align: center;
}

.small-project-container {
    margin: 5px 5px;
    width: 31%;
    height: 335px;
    display: inline-block;
    position: relative;
    background-color: #191919;
    border: 3px solid #333333;
    overflow: hidden;
    text-align: left;
    transition: 0.5s;
}

.small-project-container:hover {
    background-color: #050505;
}

.small-project-title {
    font-weight: bold;
    margin: 0px 10px;
}

.small-project-desc {
    margin: 0px 10px;
    color: #aaaaaa;
}

.small-project-img-container {
    width: 100%;
    height: 200px;
    border-bottom: 3px solid #333333;
    overflow: hidden;
}

.small-project-container img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
}

.small-project-container:hover img {
    transform: scale(1.15);
}

@media screen and (max-width: 760px) {
	.project-img-wrapper {
        margin: 0px auto;
        width: 90%;
    }

	.project-text-wrapper {
        width: 100%;
    }

    .project-container {
		display: block;
        margin: 25px 25px;
    }
    .to-overview-container {
		display: block;
        margin: 25px 25px;
    }
    .small-projects-container {
        margin: 0px 0px;
    }
    .small-project-container {
        width: 70%;
        height: auto;
    }
}
