#topbar-container {
    background-color: #191919;
    height: 95px;
    width: 80%;
    padding: 0px 10%;
    margin: 0px 0px;
    overflow: hidden;
    border-bottom: 3px solid #252525;
}

#topbar-logo {
    background-image: url("../para.svg");
    font-family: "Microsoft Yi Baiti", Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    height: 100%;
    width: 38%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 0px;
    padding: 0px 0px;
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
}

#topbar-socialmedia {
    text-align: right;
    height: 30px;
    width: 62%;
    float: right;
    position: absolute;
    top: 5px;
    right: 10%;
    letter-spacing: 8px;
}

#topbar-socialmedia a {
    font-size: 16px;
    color: #DDDDDD;
    position: relative;
    z-index: 999;
    text-decoration: none;
}

#topbar-links {
    text-align: right;
    height: 100%;
    width: 62%;
    float: right;
    position: relative;
    top: 0px;
    right: 0px;
}

#topbar-links div {
    height: 100%;
    margin-left: 20px;
    float: right;
    line-height: calc(100% + 127px); /* No clue why this works tbh, but this puts the text at the bottom of the topbar */
}

.topbar-link {
    transform: skewX(-31deg);
    background-color: rgba(0, 0, 0, 0.0);
    transition: 0.6s;
}

.topbar-link.active {
    background-color: rgba(17, 17, 17, 1.0);
}

.topbar-link:hover {
    background-color: rgba(0, 0, 0, 1.0);
}

.topbar-link-text {
    font-family: "Microsoft Yi Baiti", Helvetica, sans-serif;
    font-size: 27px;
    color: #cccccc;
    position: relative;
    left: -25px;
    transform: skewX(31deg);
    background-color: rgba(0, 0, 0, 0.0);
}

/* RESPONSIVE CSS */

.topbar-link-mobile {
    border-bottom: 2px solid black;
    line-height: 50px;
    font-weight: bold;
}

/* Hide mobile topbar and icon by default */
#topbar-links-mobile {
    margin-top: 98px;
    display: none;
    height: 0px;
    width: 100%;
}

#topbar-mobile-menu {
    position: absolute;
    right: 10%;
    top: 50px;
    display: none;
    font-size: 35px;
}

@media screen and (max-width: 1240px) {

    #topbar-socialmedia a {
        font-size: 25px;
    }

    /* If we're on mobile, show the menu icon and hide the regular menu buttons */
    #topbar-mobile-menu {
        display: block;
    }

    #topbar-links .topbar-link {
        display: none;
    }

    /* Also, make topbar-container adapt to height */
    #topbar-container {
        height: auto;
    }

    /* Make sure the logo fits fine */
    #topbar-logo {
        left: -8%;
        min-width: 350px;
    }

    /* If the mobile-menu button is pressed (class responsive), show all topbar-link-mobile */

    #topbar-links-mobile.responsive {
        display: block;
        height: auto;
    }
}
