.fade-out {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -200px;
    top: 0px;
    opacity: 0%;
    /* fade-in animation */
    animation: fadeout 0.3s;
    -moz-animation: fadeout 0.3s; /* Firefox */
    -webkit-animation: fadeout 0.3s; /* Safari and Chrome */
    -o-animation: fadeout 0.3s; /* Opera */
}

.fade-out-diag {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0%;
    left: 77px;
    top: -129px;
    /* fade-in animation */
    animation: fadeout-diag 0.3s;
    -moz-animation: fadeout-diag 0.3s; /* Firefox */
    -webkit-animation: fadeout-diag 0.3s; /* Safari and Chrome */
    -o-animation: fadeout-diag 0.3s; /* Opera */
}

.fade-in {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    /* fade-in animation */
    animation: fadein 0.3s;
    -moz-animation: fadein 0.3s; /* Firefox */
    -webkit-animation: fadein 0.3s; /* Safari and Chrome */
    -o-animation: fadein 0.3s; /* Opera */
}

.fade-in-diag {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    /* fade-in animation */
    animation: fadein-diag 0.3s;
    -moz-animation: fadein-diag 0.3s; /* Firefox */
    -webkit-animation: fadein-diag 0.3s; /* Safari and Chrome */
    -o-animation: fadein-diag 0.3s; /* Opera */
}

@keyframes fadein-diag {
    from {
        opacity: 0%;
        left: 77px;
        top: -129px;
    }
    to {
        opacity: 100%;
        left: 0px;
        top: 0px;
    }
}

@keyframes fadeout-diag {
    from {
        opacity: 100%;
        left: 0px;
        top: 0px;
    }
    to {
        opacity: 0%;
        left: -77px;
        top: 129px;
    }
}

@keyframes fadein {
    from {
        opacity: 0%;
        left: 200px;
    }
    to {
        opacity: 100%;
        left: 0px;
    }
}

@keyframes fadeout {
    from {
        opacity: 100%;
        left: 0px;
    }
    to {
        opacity: 0%;
        left: -200px;
    }
}
